#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS
	tristate "Focaltech Touchscreen"
	depends on I2C
	default n
	help
		Say Y here if you have Focaltech touch panel.
		If unsure, say N.

config TOUCHSCREEN_FTS_FOD
	bool "Touch Support New Game Mode"
	depends on TOUCHSCREEN_FTS
	default n
	help
		Say Y here if the device support new game mode

		If not support, say N.

config TOUCHSCREEN_FTS_TEST
	bool "Focaltech Touchscreen Test"
	depends on TOUCHSCREEN_FTS
	default n
	help
		Say Y here if you have Focaltech touch panel test.
		If unsure, say N.

config TOUCHSCREEN_FTS_ESDCHECK
	bool "Focaltech Touchscreen ESD Check"
	depends on TOUCHSCREEN_FTS
	default n
	help
		Say Y here if you have Focaltech touch panel esd check.
		If unsure, say N.

config TOUCHSCREEN_FTS_POINT_REPORT_CHECK
	bool "Focaltech Touchscreen ESD Check"
	depends on TOUCHSCREEN_FTS
	default n
	help
		Say Y here if you have Focaltech touch panel point report
		check.

		If unsure, say N.

config TOUCHSCREEN_FTS_DIRECTORY
	string "Focaltech ts directory name"
	default "focaltech_touch"
	depends on TOUCHSCREEN_FTS
